@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Rajdhani:wght@500&display=swap');
html, body {
    font-family: 'Rajdhani', sans-serif;
}
  
#app {
    font-family: 'Rajdhani', sans-serif;
}
.component__title{
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;
}
.element__selected_alert{
    text-align: left;
}
.element__selected_alert .element__selected__label{
    text-transform: uppercase;
}
.element__selected__label .element__selected__value{
    font-weight: bold;
    letter-spacing: 2px;
}
.vc-title{
    text-transform: uppercase;
}