<template>       
    <b-alert class="mt-3 element__selected_alert" variant="success" show>
        <span class="element__selected__label">
            {{ label }}: <span class="element__selected__value">{{valueToDisplay}}</span>
        </span>
    </b-alert>
</template>
<script>
export default {
    name: 'Alert',
    components: {
    },
    props: {
        valueSelected: { required: true},
        valueToDisplay: { required: true},
        label: {required: true}
    },
    data (){
        return {
        }
    },
    methods: {
    }
}
</script>