<template>
    <div>
        <div class="mt-5">
            <h3 class="component__title">Selected weekday by day</h3>
        </div>
        <b-row class="mt-3 mb-3 text-left">
            <b-col cols="3">
                <span class="listday__label text-uppercase">Select day</span>
            </b-col>
            <b-col cols="9">
                <b-form-group>
            <b-form-radio-group
                class="text-uppercase font-weight-bold"
                id="radio-group-1"
                v-model="selectedDay"
                :options="daysLabel"
                name="listDays"
                @input="selectDateByDay"
            />
        </b-form-group></b-col>
        </b-row>
        <VPicker
            
            is-dark
            ref="calendarDayByDay"
            locale="fr"
            is-expanded
            mode='multiple'
            :isInline='inline'
            v-model='selectedDays'
            :popover="{ 
            placement: 'bottom',
            visibility: 'click'
            }"
        />
        <Alert 
            v-bind:label='label'
            v-if="selectedDays.length>0"
            v-bind:valueSelected=selectedDays
            v-bind:valueToDisplay=selectedDays
        />
    </div>
</template>

<script>
import VPicker from 'v-calendar/lib/components/date-picker.umd'
import Alert from './Alert.vue'
import moment from 'moment'
moment.locale('fr')
export default {
    name: 'DatePickerDays',
    components: {
        VPicker,
        Alert
    },
    data (){
        return {
            inline: true,
            daysLabel: [
                {text: 'Lundi', value:"1" },
                {text: 'Mardi', value:"2"},
                {text: 'Mercredi', value:"3"},
                {text: 'Jeudi', value:"4"},
                {text: 'Vendredi', value:"5"},
                {text: 'Samedi', value:"6"},
                {text: 'Dimanche', value:"0"}
            ],
            selectedDay: null,
            selectedDays: [],
            label: 'Selected dates'
        }
    },
    methods: {
        fillAgenda (startDate, endDate, day) {
            while (startDate.isSameOrBefore(endDate)) {
                if(day === startDate.format('d')){
                    this.selectedDays.push(startDate.format('DD/MM/YYYY'));
                }
                startDate.add(1, 'days');
            }
        },
        selectDateByDay(day){
            this.selectedDays = [];
            const currentMonth = this.$children[1].$refs.calendar.$data.pages[0].monthComps.month;
            const currentYear = this.$children[1].$refs.calendar.$data.pages[0].monthComps.year;
            const startMonth = moment(currentMonth+'-'+currentYear, 'M-YYYY').startOf('month')
            const enfOfMonth = moment(currentMonth+'-'+currentYear, 'M-YYYY').endOf('month')
            this.fillAgenda(startMonth, enfOfMonth, day)
        },
    }
}
</script>
<style>
</style>