<template>
    <div>
        <div class="mt-5">
            <h3 class="component__title">Selected a single date</h3>
        </div>
        <VPicker
            is-dark
            is-expanded
            v-model='datepicker'
            :popover="{ 
            placement: 'bottom',
            visibility: 'click'
            }"
            :input-props='{
            class: "w-full appearance-none border rounded py-2 px-3 w-100 hover:border-blue-5",
            placeholder: "-- Select a single date --",
            readonly: true
            }'
        />
        <Alert v-bind:label='label' v-if="datepicker != ''" v-bind:valueSelected=datepicker v-bind:valueToDisplay=formatedSelectedDate />
    </div>
</template>

<script>
import VPicker from 'v-calendar/lib/components/date-picker.umd'
import moment from 'moment'
import Alert from './Alert.vue'
moment.locale('fr')
export default {
    name: 'DatePickerSingle',
    components: {
        VPicker,
        Alert
    },
    props: {
    },
    data (){
        return {
            datepicker: "",
            label: 'Selected date'
        }
    },
    computed: {
        formatedSelectedDate(){
        return this.datepicker != "" ? moment(this.datepicker).format("DD/MM/YYYY"): null;
        },
    },
    methods: {

    }
}
</script>
<style>
.monthpicker_select{
    text-transform: uppercase;
}
</style>