<template>       
    <div>
      <h3 class="component__title">Selected month</h3>
        <b-form-select v-model="month" @input="setMonth" :options="months">
            <template v-slot:first>
                <b-form-select-option :value="null" disabled>-- Select a month --</b-form-select-option>
            </template>
        </b-form-select>
        </div>
</template>
<script>
import moment from 'moment'
moment.locale('fr')
export default {
    props: {
    },
    data (){
        return {
            month: null,
            months:[
                {value: 1, text: 'Janvier'},
                {value: 2, text: 'Février'},
                {value: 3, text: 'Mars'},
                {value: 4, text: 'Avril'},
                {value: 5, text: 'Mai'},
                {value: 6, text: 'Juin'},
                {value: 7, text: 'Juillet'},
                {value: 8, text: 'Août'},
                {value: 9, text: 'Septembre'},
                {value: 10, text: 'Octobre'},
                {value: 11, text: 'Novembre'},
                {value: 12, text: 'Décembre'},
            ], 
            openCalendar: false,
            date: moment().format('DD/MM/Y')
        }
    },
    methods: {
        setMonth(value){
            const newDateTime = moment(value + '-01-2020').format('DD/MM/Y')
            this.date = newDateTime
            this.$emit('monthSelect', value)
            this.$emit('selectedDate', newDateTime)
            this.showCalendar()
        },
        showCalendar() {
            this.openCalendar = true
            this.$emit('showCalendar', true)
        },
    }
}
</script>
<style>
.monthpicker_select{
    text-transform: uppercase;
}
</style>