<template>
    <div>
        <div class="mt-5">
            <h3 class="component__title">Selected a range date</h3>
        </div>
        <VPicker 
            is-expanded
            is-dark
            mode='range'
            :isInline=inline
            v-model='range'
            :popover="{ 
            placement: 'bottom',
            visibility: 'click'
            }"
            :input-props='{
            class: "w-full appearance-none border rounded py-2 px-3 w-100 hover:border-blue-5",
            placeholder: "-- Select range date --",
            readonly: true
            }'
        />
        <Alert v-bind:label='label' v-if="range != ''" v-bind:valueSelected=range v-bind:valueToDisplay=formatedSelectedRange />
    </div>
</template>

<script>
import VPicker from 'v-calendar/lib/components/date-picker.umd'
import moment from 'moment'
import Alert from './Alert.vue'
moment.locale('fr')
export default {
    name: 'DatePickerRange',
    components: {
        VPicker,
        Alert
    },
    props: {
    },
    data (){
        return {
            range: "",
            label: 'Selected range'
        }
    },
    computed: {
        formatedSelectedRange(){
        return this.range != "" ? moment(this.range.start).format("DD/MM/YYYY") + ' - ' + moment(this.range.end).format("DD/MM/YYYY") :null;
        }
    },
    methods: {

    }
}
</script>
<style>
.monthpicker_select{
    text-transform: uppercase;
}
</style>