<template>
  <div id="app">
    <b-container>
      <DatePickerInput
        @showCalendar="showCalendar"
        @monthSelect="monthSelect($event)"
      />
      <Alert
        v-bind:label='label'
        v-if="date != ''"
        v-bind:valueSelected=date
        v-bind:valueToDisplay=monthFormatted
      />
      <Vcalendar
        is-dark
        v-if="isVisible == true"
        is-expanded
        ref="calendarInput"
        class="mt-2"
      />
      <DatePickerSingle />
      <DatePickerRange />
      <DatePickerDays />
    </b-container>
  </div>
</template>

<script>
import DatePickerInput from './components/DatePickerInput.vue'
import DatePickerDays from './components/DatePickerDaysByDay.vue'
import DatePickerRange from './components/DatePickerRange.vue'
import DatePickerSingle from './components/DatePickerSingle.vue'
import Alert from './components/Alert.vue'
import Vcalendar from 'v-calendar/lib/components/calendar.umd'
import moment from 'moment'
moment.locale('fr')
export default {
  name: 'App',
  components: {
    DatePickerInput,
    Vcalendar,
    DatePickerDays,
    DatePickerSingle,
    DatePickerRange,
    Alert
  },
  data() {
    return {
      isVisible: false,
      month: "",
      date: '',
      label: 'Selected month'
    }
  },
  computed: {
    monthFormatted(){
      return moment(this.date).format('MMMM')
    }
  },
  methods :{
    showCalendar() {
      this.isVisible = true
    },
    monthSelect(monthSelect){
      let to = '2020-'+monthSelect+'-01'
      this.date = to
      this.month = monthSelect
      this.moveToSelectedMonth(to)
    },
    moveToSelectedMonth(to){
        setTimeout(
        () => this.$refs.calendarInput.move(to),
        100
      )
    },
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
